@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #2563eb;
  --accent-light: #ffffff;
  --accent-ring: #e4e3e3;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
